Package: libopencv-imgproc2.4
Source: opencv
Version: 2.4.9.1-1
Architecture: amd64
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 2071
Pre-Depends: multiarch-support
Depends: libc6 (>= 2.14), libgcc1 (>= 1:4.1.1), libopencv-core2.4 (= 2.4.9.1-1), libstdc++6 (>= 4.1.1), libtbb2
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://opencv.org/
Description: computer vision Image Processing library
 This package contains the OpenCV (Open Computer Vision) Image Processing
 runtime libraries.
 .
 The Open Computer Vision Library is a collection of algorithms and sample
 code for various computer vision problems. The library is compatible with
 IPL (Intel's Image Processing Library) and, if available, can use IPP
 (Intel's Integrated Performance Primitives) for better performance.
 .
 OpenCV provides low level portable data types and operators, and a set
 of high level functionalities for video acquisition, image processing and
 analysis, structural analysis, motion analysis and object tracking, object
 recognition, camera calibration and 3D reconstruction.
