Package: libcv2.4
Source: opencv
Version: 2.4.9.1-1
Architecture: all
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 44
Depends: libopencv-core2.4, libopencv-imgproc2.4, libopencv-flann2.4, libopencv-features2d2.4, libopencv-calib3d2.4, libopencv-objdetect2.4, libopencv-legacy2.4, libopencv-video2.4, libopencv-ml2.4
Section: devel
Priority: optional
Homepage: http://opencv.org/
Description: computer vision library - libcv* translation package
 This package provide files for translation from libcv2.1 to libcv2.4.
 .
 The Open Computer Vision Library is a collection of algorithms and sample
 code for various computer vision problems. The library is compatible with
 IPL (Intel's Image Processing Library) and, if available, can use IPP
 (Intel's Integrated Performance Primitives) for better performance.
 .
 OpenCV provides low level portable data types and operators, and a set
 of high level functionalities for video acquisition, image processing and
 analysis, structural analysis, motion analysis and object tracking, object
 recognition, camera calibration and 3D reconstruction.
